[2018-04-02 20:46] addyosmani opened #1 "Repository structure"
Probably good to decide on this as a team :)

**Proposed top-level folders**

- /packages
- /docs (for design docs, moving things from Google Docs over)
- /infra (previous called /scripts in mlx)
- /demos
- CONTRIBUTING.md
- README.md
- LICENSE
- .gitignore
- {package, package-lock, yarn, other package manager files}

@mgechev wdyt? anything worth changing or adding here?

[2018-04-02 21:05] addyosmani opened #2 "Implement Wikipedia + Gatsby demo"
👜 Carried over from docs..

This demo aims to create a Wikipedia client using Gatsby.js (by Kyle Mathews). It will take advantage of the concepts outlined in Guess.js - primarily, data-driven prefetching of data using the Google Analytics API and machine learning - to improve the page-load performance of subsequent navigations.

The application will use [offline-wikipedia](https://github.com/jakea

[2018-04-02 21:14] addyosmani opened #3 "Implement Google Analytics "What to prefetch?" helper"
**Goal:** Make it trivial for developers to select a GA account and see what what the likely next pages a user would visit for any given path might be.

**Prototype:** https://predictjs.firebaseapp.com

Next steps:

- [ ] Rewrite/clean-up code
- [ ] Add support for pre-populating all your GA accounts and Views (like on [query-explorer](https://ga-dev-tools.appspot.com/query-explorer/))
- [ ] Check

[2018-04-02 21:29] addyosmani opened #4 "Guess.js Webpack plugin"
**Goal:** Lowering the friction for unlocking @mlx’s capabilities

**Authors:** Joint proposal from Addy and Minko

In [Machine Learning: Data-driven Bundling](http://blog.mgechev.com/2018/03/18/machine-learning-data-driven-bundling-webpack-javascript-markov-chain-angular-react/), a set of packages was introduced for getting started with data-driven bundling (DDB). Together, these packages enabled

[2018-04-24 02:07] mgechev opened #6 "Re-introduce chunk clustering"
## Prior implementation

The initial chunk clustering [implementation](https://github.com/mgechev/mlx/blob/d6d5b01588e15479b00ab469f6105d2040f015b7/packages/cluster/index.ts) accepts a minimum number of chunks that need to be produced by the build process and goes through a graph clustering based on Tarjan's algorithm for finding strongly connected components.

This algorithm has a number of probl

[2018-05-01 01:22] mgechev opened #11 "Cache the GA report"
We should cache the GA report for given time range so we can reuse it on frequent calls of the `GuessPlugin`.

[2018-05-01 01:23] mgechev opened #12 "Cache the OAuth2 access token"
The `GuessPlugin` should cache the access token so it doesn't ask the user for authorization on each run.

[2018-05-02 04:17] mgechev opened #14 "Optional parsing for applications with pre-existing pre-fetching logic"
Currently, the parser is the most complex module of Guess mostly because it requires a lot of knowledge about the project structure. Applications using frameworks with very dynamic route declaration, such as React, make the route extraction impossible without following strict conventions.

In the same time, often the application itself has the route-bundle mapping metadata available at runtime. An

[2018-05-03 02:40] #11 closed, assigned to mgechev

[2018-05-03 02:40] #14 closed, assigned to nobody

[2018-05-04 04:13] addyosmani opened #15 "Integrating Katie's predictiveFetching work"
Hey folks. @khempenius has been working on a set of experimental solutions for the average site wishing to take advantage of predictive fetching over in https://github.com/guess-js/guess/tree/predictiveFetching/predictiveFetching.

I'd love to figure out this week how best to position this work inside the repo. I'm currently thinking that we keep `packages` as-is for reusable modules that we deplo

[2018-05-05 23:50] KyleAMathews opened #20 "Building repo doesn't quite finish"
[code]

[2018-05-06 21:03] #20 closed, assigned to nobody

[2018-05-06 21:06] #4 closed, assigned to addyosmani, mgechev

[2018-05-07 16:04] #15 closed, assigned to mgechev, khempenius

[2018-05-07 16:10] mgechev opened #29 "Use "/" instead of "" for querying the model for the root page"

[2018-05-07 16:19] addyosmani opened #30 "Drop in logo assets"
- High quality SVG
- High quality PNGs
- Maybe logo on dark/light backgrounds

[2018-05-09 04:51] #30 closed, assigned to addyosmani

[2018-05-09 18:08] DanielRuf opened #34 "enable Travis CI"
Currently Travis CI is not enabled but there is a config. Would be great to have automatic testing of every build / push and PR.

[2018-05-10 18:52] mgechev opened #42 "[RFC] Guess function API"
## Prior art

Currently, `guess` has the following signature:

[code]

The call `guess(route)` returns an object literal which as keys has URLs/routes likely to be visited next, and values the associated probabilities.

If as a second argument we pass a list of URLs/routes the function will return an object with keys from the intersection between the passed data & the known possible navigations.

[2018-05-12 11:58] thangman22 opened #43 "Please support Vue.js"
Vue.js is the one of popular framework please support

[2018-05-12 15:39] mgechev commented on #43
That's on the roadmap!

[2018-05-13 04:02] yyx990803 commented on #43
Vue Router route configurations are centralized and quite similar to that of Angular's (if the API hasn't changed that much) and should be quite easy to parse statically:

[code]

I guess the potential edge cases would be:

- How to identify the routes array, since in some cases the user might be exporting the routes from one file and instantiating the router in another file.

- The path can be pa

[2018-05-13 04:51] mgechev commented on #43
@yyx990803 thanks for the response!

Another potential problem I see is if the `path` value or the dynamic import argument is not a string literal but a variable/constant reference.

The Angular compiler solves this for us for free because it performs a partial evaluation of ["foldable" expressions](https://github.com/angular/angular/blob/0ebdb3d12f8cab7f9a24a414885ae3c646201e90/packages/compiler-

[2018-05-14 21:53] chrisguttandin opened #44 "[guess-parser] Return all routes of an Angular app"
Hi @mgechev,

this is a follow up issue of [#1](https://github.com/mgechev/mlx/issues/1) of [@mlx/parser](https://github.com/mgechev/mlx). I guess `guess-parser` is the successor of `@mlx/parser`.

I can confirm, that parsing an Angular App which has a routing module generated by the CLI works now. However when there are nested routes `guess-parser` does not pick up those routes. I was abled to tr

[2018-05-15 10:34] MicroBenz opened #46 "Next.js support?"
Does this library will be support for Next.js?

[2018-05-15 11:39] tsukhu opened #47 "Gatsby plugin usage query (Getting a Webpack Error during build)"
I am trying to get the gatsby plugin working in my project and during the build I get this error

WebpackError: ENOENT: no such file or directory, open '/home/travis/build/ERS-HCL/gatsby-demo-app/.cache/data.json

It would be great if you could let me know if I am missing something here

Here is the code change for including the gatsby plugin (on the same lines as your example) https://github.com/

[2018-05-15 21:09] addyosmani commented on #29
I would love to figure out if we should consider a mechanism for ignoring parameters similar to this for our own URL normalization at some point.

[2018-05-15 21:11] addyosmani commented on #47
Paging @KyleAMathews in case he gets a chance to help debug the gatsby plugin issues above.

[2018-05-15 21:14] addyosmani commented on #46
We currently supporting parsing routes for applications scaffolded using create-react-app, some React boilerplates and Gatsby but don't at this time explicitly support Next.

I see from https://github.com/zeit/next.js/issues/1632 that Next uses it's own router rather than React Router so we would probably need to write custom support for their router in our parser package.

@mgechev and I have tal

[2018-05-15 21:17] addyosmani commented on #44
Thank you for filing an issue and creating a little reproduction project for us to check out, @chrisguttandin! That will be quite useful for debugging a solution for nested routes not being picked up.

You're right that (afaik) we currently only parse routes out from the root module of lazily-loaded modules. I'll defer to @mgechev on how feasible it would be for us to extend `guess-parser` to also

[2018-05-15 21:27] KyleAMathews commented on #47
Hey, the guess gatsby plugin is for v2 only of gatsby as it uses some new APIs. Please try upgrading your site to v2 and give it another go! It might be easier to start with a v2 site from scratch as we still don't have an upgrade guide for v2 (coming soon). Check out the v2 branch on the official starters e.g. http://github.com/gatsbyjs/gatsby-starter-hello-world

[2018-05-15 21:27] #47 closed

[2018-05-16 00:15] addyosmani commented on #42
Thanks for putting together this proposal, @mgechev. Love this direction around setting better defaults for the connection and thresholds out of the box.

Would it be possible to share a usage example with the updated interface?

I'm wondering if we should open a separate issue to discuss a `prefetch()` method which wraps `guess()`. Would this have reduced boilerplate in the React or Angular integ

[2018-05-16 00:51] tsukhu commented on #47
@KyleAMathews thank you for the update. Just started reading about Gatsby v2 and will be keenly following it.

[2018-05-16 19:15] mgechev commented on #42
With the new suggested API, a third-party plugin would be able to use Guess.js with additional runtime reduced to the minimum. The `GuessPlugin` will introduce only:

- `guess(...)` - function used for prediction
- The model (the Markov chain in this case)
- Two utility classes used for reading the model's compressed representation

This way we'll be able to get rid of:

1. The route change handle

[2018-05-17 20:15] #29 closed

[2018-05-17 21:13] mgechev commented on #42
@KyleAMathews what do you think about this?

[2018-05-17 22:19] #2 closed

[2018-05-17 22:20] #1 closed, assigned to mgechev

[2018-05-17 22:28] addyosmani opened #50 "Roadmap proposals"
### Roadmap/Ideas

#### Features / Ease of use
- [x] Improve Guess API #42
- [ ] Re-introduce chunk clustering #6
- [ ] Cache the OAuth2 access token #12

#### Code-sharing
- [ ] Investigate better code-sharing between bundling/non-bundling solutions
- [ ] Investigate code re-use with 3P providers (e.g IIH Nordic)

#### Machine Learning
- [x] Evaluate using neural networks vs current markov chain

[2018-05-18 00:35] mgechev commented on #50
We should also see how we can extract deeper navigation paths (more than 2 levels) in GA. Currently, we're able to get `previousPagePath` & `pagePath`. Probably this could be considered as subtask for:

[2018-05-18 15:42] addyosmani opened #51 "Microsite 📃"
Now that we have guessjs.com, we might want to put together a microsite for the project 🤔

@mgechev and I like the idea of using Gatsby as our static site framework. Given we already have a reference implementation of using Guess.js with it thanks to @KyleAMathews, this seems like a reasonable direction? What do folks think?

Some things to discuss regardless of stack:
-  Goals of the site
-  Info

[2018-05-20 23:35] mgechev commented on #50
One more thing which I'm experimenting with is a parser which empowers partial evaluation with prepack. This will allow us to collect metadata from a broader range of apps.

[2018-05-21 06:07] ifredom opened #52 "Support for Vue"
If inscribe，Are you considering supporting VUE?

[2018-05-21 13:51] mgechev commented on #52
You can follow the discussion about Vue here https://github.com/guess-js/guess/issues/43

[2018-05-21 13:52] #52 closed

[2018-05-21 18:49] mgechev commented on #44
@chrisguttandin thanks for providing a demo to reproduce the problem! Should be able to push a fix in a few hours.

[2018-05-22 00:54] mgechev opened #54 "Model for predictive analytics"
## Current approach

At the moment, Guess.js uses a Markov chain in order to predict the next route the user will navigate to. We build the Markov chain by using a report fetched from Google Analytics (GA) where for each page path, we get the previous page path. The model has several advantages such as:

- Doesn't require a lot of runtimes. The prediction can be made with a simple O(1) lookup so w

[2018-05-23 15:35] #44 closed

[2018-05-25 22:08] addyosmani opened #56 "[Docs] Type of sites we are targeting"
A common question I get is what size/scale of site Guess.js is targeting. I think it's worth documenting this a little more clearly. My two cents:

* Sites with nested pages (e.g have a minimum of three levels of nesting). Good examples: news and publisher sites, e-commerce, large SaaS sites)
* Sites who have already been using Analytics tracking for a while (likely to have a rich set of data that

[2018-05-30 14:32] KyleAMathews commented on #42
Looks great! It would be nice too if Guess exposed a util function for prefetching a URL as there's some decently complicated logic I remember around making prefetching work cross-browser that I don't want to duplicate in the Gatsby plugin.

[2018-06-01 21:31] mgechev commented on #50
@KyleAMathews I'll open a PR with this right after we merge [this](https://github.com/guess-js/guess/pull/57).

What do you think about:

[code]

If `token` is not specified, we use the browser.

[2018-06-01 22:07] addyosmani commented on #56
Another question we might want to document an answer to is if sites with less than say, 10 views benefit from this approach at all. Speaking to one site, they noted they currently precache the other 9 views when the first view is being loaded and feel prefetching intelligently isn't needed there which is fair.

I see larger sites finding this useful. In particular for data fetching. I believe this

[2018-06-01 22:18] addyosmani commented on #50
I've heard folks are also interested in a demonstration of how Guess can be used with either service workers or service worker libraries such as Workbox.

In an app where you may already be using service workers to precache/prefetch or fully using PRPL, having a clear story there would be nice. I actually think we're not a million miles away from explaining this through Gatsby.

As mentioned in an

[2018-06-08 19:52] mgechev opened #59 "Consider switching to lerna for managing the monorepo"
Currently, there's a lot of manual work involved with the maintenance of the monorepo. It might be worth considering switching to https://github.com/lerna/lerna.

[2018-06-09 19:41] matuzalemsteles commented on #59
hey @mgechev, We are currently using integration with Lerna + Yarn Workspace in [Clay](https://github.com/liferay/clay) and it works very well for us.

Using only Lerna, we had some problems with symbolic links when many of our packages had dependencies between them... The yarn workspace approach helped us to minimize this and also to decrease the size of `node_module` in the development environme

[2018-06-10 13:05] chrisguttandin commented on #44
Thanks @mgechev, I just made a test and can confirm that it works great now. I will go ahead and delete the example repo.

Would it be possible to publish the changes to npm?

[2018-06-10 14:42] mgechev commented on #44
I need to sync with Gatsby because of some changes in the public API.

[2018-06-10 14:43] chrisguttandin commented on #44
@mgechev Alright, thanks for the explanation.

[2018-06-16 18:33] addyosmani commented on #42
I believe @mgechev and I may have had a discussion around preload-webpack-plugin in the context of this issue. I believe we'll want to circle back on this one and factor in what the right solution would be now that Webpack 4 also supports prefetch/preloading of chunks natively there.

[2018-06-16 19:31] #42 closed

[2018-06-19 01:45] felicitia commented on #54
The idea is brilliant, but is your predictive model only based on the URLs of the sites? Some papers have pointed out that the performance bottleneck is actually sub-resource loading within one single request, such as images, js files, etc.

Some works that might be relevant:
"Why are web browsers slow on smartphones?", 2011
"How far can client-only solutions go for mobile browser speed?", 2012
"S

[2018-06-19 02:15] mgechev commented on #54
Thanks for sharing all these resources!

Based on the report from Google Analytics reporr, which provides mostly visits & transitions per URLs, we create a fine-grained mapping to individual resources by performing static analysis. Our first target is JavaScript, because it's expensive. On later stages we'll expand this to CSS, images, and other assets.

[2018-07-03 14:58] chrisguttandin opened #62 "[guess-parser] has incomplete type definitions"
Hi, thanks for publishing a new version of `guess-parser` to npm. It works great, when used in JavaScript code. However it can't be used as part of a TypeScript codebase. The type definition file `dist/guess-parser/index.d.ts` currently looks like this:

[code]

It refers to the `./src` directory which is not part of the npm package. I hope it is just a matter of configuring the build process. Unf

[2018-07-06 00:02] chrisguttandin commented on #62
Hi, I investigated the problem a little bit to see how far I can get. I cloned the repo and could successfully run `npm run bootstrap` and `npm run build` on my local machine. I noticed that the folder at `packages/guess-parser/dist/guess-parser/src` was successfully generated and contained all the necessary type declarations. So I figured that the script for publishing the packages is probably ca

[2018-07-11 01:44] mgechev opened #63 "Ahead-of-Time bundle prefetching ✨"
Currently, Guess.js analyzes the application, fetches data from Google Analytics, and builds a model. In the main chunk of the application, we introduce the following two pieces of code:

- The model itself (could be a Markov chain, recurrent neural network, etc.)
- Small runtime which queries the model on each page navigation

The drawback of this approach is that we need to ship to the browser t

[2018-07-11 15:59] romulocintra opened #64 "SPFJS - GUESS"
Hi @addyosmani  @mgechev  , this is a little unrelated topic ... but i was building some micro front end services kind of framework that fetch content and render to page as fragments etc ...

I saw  SPF-js from google and found very futuristic for that time and is great and i see guess-js doing similar thing in another level - but they share some similar goals --- one of them is prefetch content t

[2018-07-18 20:38] dijs opened #65 "Cannot build with guess api"
When using:
[code]

and

`import { guess } from 'guess-webpack/api'`

Webpack is throwing this:

[code]

Any ideas?

[2018-07-18 21:56] mgechev commented on #65
Thanks for giving Guess.js a try! Would you share a minimal demo where we can reproduce the problem?

[2018-07-20 19:09] addyosmani commented on #62
Was there an update on your investigations here, @mgechev?

[2018-07-20 19:43] mgechev commented on #62
Yes, the build process does not produce the type definitions in the correct directory. I'll take care of this over the weekend.

[2018-07-21 18:54] mgechev commented on #65
@dijs I found the cause. Will push a fix in the next a couple of hours.

[2018-07-25 17:41] #62 closed

[2018-07-25 22:29] mgechev commented on #62
@chrisguttandin the type definitions now are part of the package published under v0.1.4. Thanks for reporting the issue and for the suggestions!

[2018-07-25 22:30] mgechev commented on #65
@dijs now `guess-webpack/api` is in the right place in v0.1.4 🚢 ! Thanks for reporting the issue and excuse me for the inconvenience!

[2018-07-25 22:30] #65 closed

[2018-07-25 23:42] mgechev opened #67 "Show friendly user message when we hit GA quota limit"

[2018-08-07 08:58] evenstensberg opened #72 "Feature Request/Enhancement: Use tabable instead of old compiler API for webpack-plugin"
Hi! When running GuessJS I'm getting a warning that says that the old interface is depreciated. It would be nice if GuessJS uses the new webpack plugin API with tapable instead.

[2018-08-08 21:31] mgechev commented on #72
Hey @ev1stensberg, thanks for the suggestion!

Currently, by using the deprecated API, we maintain support for both webpack 3 and webpack 4 with minimal abstractions. The main reason for us supporting webpack 3 is compatibility with Angular CLI < v6.

Now given the current status of Angular CLI v6, we'll consider moving from the deprecated API shortly.

[2018-09-03 23:57] #46 closed

[2018-09-04 02:00] KyleAMathews opened #76 "TypeError: ts.createNodeArray is not a function"
I just tried adding gatsby-plugin-guess-js to gatsbyjs.org and hit the above error.

Looks like it's part of the code for Angular?

[2018-09-04 04:58] mgechev commented on #76
I'll look at this tomorrow/Wednesday and follow up with you.

[2018-09-04 16:49] DanielSokil opened #77 "Parcel Support"
Could I use Guess with parcel bundler, or it's limited to webpack?

[2018-09-05 02:11] mgechev commented on #76
This worked for me. Here are the changes I did:

<img width="385" alt="screen shot 2018-09-04 at 19 10 01" src="https://user-images.githubusercontent.com/455023/45067065-3d8bc600-b076-11e8-9239-41d98274eca5.png">

[2018-09-05 23:32] mgechev commented on #77
Currently, Guess.js has a plugin for webpack. Given the philosophy of parcel, I see a lot of space for collaboration. The integration between Guess.js and Parcel in the future is very likely.

[2018-09-07 00:10] mgechev commented on #76
@KyleAMathews do you have any updates? Are you still hitting the issue?

[2018-09-26 09:20] KartoffelToby opened #79 "Trying to use Guess.js in Angular 6"
Implement the Guess.JS webpack plugin with angular 6 @angular-builders/custom-webpack:browser method

config:

[code]

i got this error:

[code]

[2018-09-26 10:44] thangman22 opened #80 "Fail when login with Google when using guess-webpack"
I try to using guess-webpack with my nuxt.js. When I serve my project my browser is open Google login page. When login complete and redirect back to localhost:xxxxx < some random port this page is empty. How I fix it?

[2018-09-26 18:40] mgechev commented on #79
Thanks for giving Guess.js a try :-).

The project does not support Angular version 6 because of changes in the framework's compiler.

In a few weeks, we may have a chance to look in this issue. An alternative usage could be to disable the Guess.js parser and query the model at runtime in your custom preloading strategy.

[2018-09-26 18:42] mgechev commented on #80
Would you be able to share logs or a video of your experience? I'm not able to get the entire picture of what's going wrong.

Exact steps to reproduce the problem would be very helpful as well.

[2018-10-03 08:44] thangman22 commented on #80
This is screenshot of this bug
https://imgur.com/rJNPkyP

[2018-10-04 12:53] centrical commented on #76
I do. I installed it, and when I try to spin up the dev environment it fails. The error message speaks of "Angular", which is really weird.

error Plugin gatsby-plugin-guess-js returned an error

  TypeError: ts.createNodeArray is not a function

  - evaluator.js:661 Object.<anonymous>
    [unless.com]/[@angular]/compiler-cli/src/metadata/evaluator.js:661:16

[2018-10-04 13:44] chrisguttandin commented on #62
Hi @mgechev, sorry for commenting on that closed issue. Just in case you wonder, why I was so impatiently waiting for guess-parser to be usable as a standalone module. I created a command line tool called [angular-prerender](https://github.com/chrisguttandin/angular-prerender) which aims to simplify the build process for static Angular apps. And it relies on your parser to retrieve all routes of a

[2018-10-04 18:29] mgechev commented on #76
Thanks for the comment, @centrical. In the next version of Guess.js we'll externalize the parsers which should fix this issue.

[2018-10-04 18:31] mgechev commented on #62
@chrisguttandin I found `angular-prerender` as a dependency of the `guess-parser`. I hope it's still useful, after the Angular v6 release.

In the next release of Guess.js we'll remove the `guess-parse` dependency of `guess-webpack`, which should not have any impact on `angular-prerender`.

[2018-10-04 19:59] chrisguttandin commented on #62
Hi @mgechev, thanks for letting me know. guess-parser is still working without any problems (at least that I know of) with the latest version of Angular.

I worked on angular-prerender for quite a while now. I gradually added it to all my Angular projects to find out what minimal features it needs. But only today I added the documentation. I guess you didn't really need it to understand what it do

[2018-10-08 14:57] #79 closed

[2018-10-08 14:58] #76 closed

[2018-10-08 17:10] mgechev commented on #76
@centrical would you try `guess-webpack@0.1.6`?

[2018-10-10 15:36] zipme commented on #80
same here

[2018-10-10 17:53] mgechev commented on #80
Unfortunately, I cannot reproduce this issue. You can double-check the GA view ID and your access rights to it.

We'll work on better error reporting in `guess-ga`. Hopefully we'll be able to figure out what went wrong then.

[2018-10-10 21:40] zipme commented on #80
@mgechev it seems to be working now, but everytime I restart the server I need to re-authenticate with google account, is there away to avoid this? Or do I need to use the `jwt` option? If so what should I put in there?

Thanks!

[2018-10-10 21:45] mgechev commented on #80
If you specify `startDate` & `endDate` `guess-webpack` will be able to cache the GA report. For reference see [this](https://github.com/mgechev/guess-js-react-demo/blob/master/config/webpack.config.prod.js#L330-L345).

[2018-10-10 22:13] zipme commented on #80
@mgechev Brilliant! It works! And may I ask how does it cache the report? Because I am deploying my app via docker, so the build will happen in the docker container, how do I handle the authentication there?

[2018-10-10 22:19] mgechev commented on #80
You can set the [`jwt`](https://github.com/guess-js/guess/blob/master/packages/guess-webpack/src/guess-webpack.ts#L17) property for this purpose.

You can follow [this](http://2ality.com/2015/10/google-analytics-api.html) tutorial to get it in a JSON format. Once you get the file, just set it as value to the `jwt` property in the object literal you pass to the `GuessPlugin`.

[2018-10-28 01:02] mgechev commented on #80
Closing this issue. Let me know if you're still experiencing problems.

[2018-10-28 01:02] #80 closed

[2018-11-02 08:01] ctf0 opened #83 "Cannot read property 'guess' of undefined"
am trying to use guess with laravel through a pre-defined routes file like in [nuxt example](https://guess-js.github.io/docs/nuxt) so the setup is

- `guess-routes.json` ex.
[code]

- webpack
[code]

- app.js
[code]

- error
![demo](https://user-images.githubusercontent.com/7388088/47900590-15f28780-de86-11e8-80fe-56d055974712.jpg)

[2018-11-02 16:44] mgechev commented on #77
I'll close this for now until we add parcel support in the official agenda.

[2018-11-02 16:44] #77 closed

[2018-11-03 11:31] daliborgogic commented on #83
@mgechev Yes. `guess` runs only on client side. In webpack config just add condition @ctf0

[2018-11-03 13:53] ctf0 commented on #83
@daliborgogic can u elaborate ? an example might help as well

[2018-11-03 16:35] daliborgogic commented on #83
@ctf0 Of course.
In [nuxt.js](https://github.com/nuxt/nuxt.js) we have way to check environment `isServer` or it's for a  client `isClient`  during the build/

[code]

If you don't have option to check environment during the build (laravel):

[code]

Let us know if this approach works for you, and `GuessPlugin` runs only on client side

[2018-11-03 16:50] daliborgogic commented on #83
I think real problem is in `app.js`.
This is required because we don't want to run Guess.js on the server
[code]

[2018-11-03 23:19] mgechev commented on #83
Would you share a minimum demo where we can reproduce the problem?

[2018-11-04 05:53] ctf0 commented on #83
sure, here is a repo https://github.com/ctf0/guess-demo/tree/master it requires having `laravel & composer` installed on ur system

[2018-11-05 10:19] zipme commented on #83
I have the same issue here with a nuxt project, I am using this module https://github.com/nuxt-community/guess-module

The config in nuxt.config.js is something like:
[code]

[2018-11-05 11:35] daliborgogic commented on #83
@zipme `guess-webpack` don't have option `jwt`. Can you share your `nuxt.config.js`?

[2018-11-05 11:39] zipme commented on #83
@daliborgogic  Hi, I think it does, check this thread https://github.com/guess-js/guess/issues/80

[2018-11-05 11:49] daliborgogic commented on #83
Thanks for point to this thread. Will check if there is any changes in API.

[2018-11-05 12:03] daliborgogic commented on #83
@zipme Is your `GA` in format `UA-XXXXXXXX-X` or `XXXXXXXX`?

[2018-11-05 12:13] zipme commented on #83
it's the view id, it's XXXXXXXX

[2018-11-05 13:13] zipme commented on #83
hi @daliborgogic , after I disabled the pwa and remove all the cache the error seems to be gone, I guess it was the previous cached js caused the issue. Thanks for the help!!

[2018-11-05 13:42] mgechev commented on #83
How did you disabled the PWA? Ideally, Guess.js should not interfer with other modules.

[2018-11-05 13:46] zipme commented on #83
@mgechev I guess the issue I have is that I did some misconfiguration in the nuxt.config, but because of the PWA, the incorrect js file was being loaded even though I adjusted the config file, after I temporarily disabled the pwa module and clear the cache it works.

[2018-11-07 06:01] ctf0 commented on #83
@mgechev any news :balloon:  ?

[2018-11-21 03:15] sammydigits opened #84 "How to measure success?"
What metric should I use to measure the success of adding prefetching to my static site? Thanks

[2018-12-12 02:16] mgechev opened #86 "Guess parser does not work on Windows"
The parser in the `src/angular/index.ts` file (and probably the other parsers) do non-cross platform compatible path manipulations.

This should be fixed so that the parsing works properly on Windows.

[2018-12-14 16:33] bertho-zero opened #87 "Demo breaked"
Visible in the console from https://guess-static-sites-demo.firebaseapp.com/

[code]

[2018-12-14 16:52] mgechev commented on #87
@khempenius do you know what might be happening here?

[2018-12-14 16:55] bertho-zero commented on #87
The first line of https://guess-static-sites-demo.firebaseapp.com/predictiveFetching.js is bad:

[code]

[2018-12-14 17:31] khempenius commented on #87
That line is not the issue (the API and front-end are served from different domains).

That repo and database were on my laptop that died. I'm going to briefly take down the demo link while I recreate them.

[2019-01-01 13:00] #83 closed

[2019-01-18 09:02] rockeynebhwani commented on #56
@addyosmani  - We tried to use this for a large eCommerce site with this configuration and this configuration (which takes the report for one day) results in a report which is about 100000 lines. However, it is still too big for the plugin and it hits one of the quotas for the maximum amount of service calls.

new GuessPlugin(
  {
    GA:'XXXXXXXX',
    period:{
      startDate:newDate('2019-1-15'

[2019-01-19 03:03] mgechev commented on #56
@rockeynebhwani I'm talking to the Google Analytics team, so we can hopefully come up with a solution.

[2019-01-19 12:54] rockeynebhwani commented on #56
Thanks @mgechev for your response.. We are trying to use guess.js with React / Webpack. As you can see, we have already reduce the time range to 1 day. Can I go lower than this ? Looking at config 'startDate' and 'endDate',  it looks like we can only provide dates and can't go lower than this...

I am struggling to find a link to request increase in quota limit. This is for an enterprise site wher

[2019-01-19 17:08] sammydigits commented on #56
Info on increasing the GA Reporting API quota can be found here:

https://developers.google.com/analytics/devguides/reporting/core/v4/limits-quotas

[2019-03-13 12:14] dijs commented on #12
Agreed. Also being able to pass the access token with an environment variable would be helpful for CI builds.

[2019-03-13 20:19] mgechev commented on #12
This is already supported, and probably not documented too well. Check out [this](https://github.com/guess-js/guess/blob/master/packages/guess-webpack/src/ga-provider.ts#L16) property.

[2019-03-19 18:08] wardpeet commented on #12
@dijs you can find an example here:
https://github.com/gatsbyjs/gatsby/blob/master/www/gatsby-config.js#L17-L28

[2019-03-22 10:30] dijs commented on #12
Thank you very much.

[2019-05-01 04:50] yharaskrik opened #92 "Feature Support for GuessJS in Nx Workspace"
I have started to implement GuessJS in my Mono repo project but after going through the Guess source code it looks like it won't support the project structure as the path to the source folder is hardcoded in as a sibling to the package.json as per:

[code]

Maybe we can add a config option for srcPath in the GuessPluginConfig interface? that way people that have a different folder structure than p

[2019-05-01 05:13] yharaskrik commented on #92
I have a branch on a Fork ready to test, I will give it a go tomorrow and then open a PR for review.

[2019-05-01 15:04] yharaskrik commented on #92
I delved more into the documentation and found the parseAngularRoutes function that I did not realize was there before! Closing this issue.

[2019-05-01 15:04] #92 closed

[2019-05-30 11:28] #87 closed

[2019-05-30 11:28] mgechev commented on #86
Should be fine now.

[2019-05-30 11:28] #86 closed

[2019-05-30 11:29] mgechev commented on #84
You can track the navigation history of your users either by consuming logs from your CDN/static web server, or another analytics source.

It shouldn't be hard to distinguish user navigations from script prefetching. Once you have this, you can measure the success rate of the predictions and adjust the thresholds.

[2019-05-30 11:29] #84 closed

[2019-05-30 11:31] mgechev commented on #64
Hey @romulocintra, I'll close this issue because it doesn't seem related to Guess.js. We can continue the discussion in another channel.

[2019-05-30 11:31] #64 closed

[2019-05-30 11:31] mgechev commented on #63
Done! https://github.com/guess-js/guess/pull/94

[2019-05-30 11:31] #63 closed

[2019-05-30 11:32] #54 closed

[2019-05-30 11:33] mgechev commented on #50
I think we can close the issue for now, we have descent part of the roadmap already in.

[2019-05-30 11:33] #50 closed

[2019-05-30 11:33] mgechev commented on #43
We have Nuxt support. With `runtime.delegate`, you can already use this with Vue as well.

[2019-05-30 11:33] #43 closed

[2019-05-30 11:34] mgechev commented on #3
Closing this issue for now. Looks like https://predictjs.firebaseapp.com/ does descent job already; we can revisit if necessary later.

[2019-05-30 11:34] #3 closed

[2019-05-30 11:34] #51 closed

[2019-05-30 11:35] mgechev commented on #51
Here it is https://guess-js.github.io/

[2019-05-30 11:35] #56 closed

[2019-05-30 11:36] mgechev commented on #72
We can already move away from webpack 3. If anyone is willing to help, feel free to take this issue.

[2019-05-30 12:13] romulocintra commented on #64
@mgechev  thanks and yeah , is not related ... Thanks  :)

[2019-05-30 12:16] mgechev commented on #72
https://github.com/guess-js/guess/commit/7f8282b1786d0adc741c59b55d4fcf92bdd034c5 this should do it.

[2019-05-30 12:16] #72 closed

[2019-06-08 01:16] evenstensberg opened #129 "Enhancement: Improve User Experience for React based Applications"
As React is a fairly popular framework it would be awesome to have the initial user experience with GuessJS better. In practise, this would mean that a Router configuration file (which is either js or jsx) is read as static routes for Guess JS to parse. Either that or a json-like configuration that the user could specify in their app. Refering to conversation at JSConfEU to improve the impression

[2019-06-09 14:46] kumaran-is opened #131 "GuessPlugin throws error with Angular 8 / Node 10"
# What
After upgrading `guess-angular` demo project  to Angular 8 and  when i try to run the build  command `ng build` on Node v10.15.0(npm v 6.4.1) , it throws  below error. Looks like issue with `GuessPlugin`
[code]

# How to Reproduce the Issue
## Get the code from my forked repo and make sure you are using Node 10
* Clone the repo and checkout the master  branch

[code]
## Run the build  and t

[2019-06-10 14:02] mgechev commented on #131
Fantastic! Thanks for the reproduction. I'll look at it today and hopefully by tomorrow you'll see it functioning properly.

[2019-06-10 14:06] mgechev commented on #129
To statically figure out the dynamic routes and associate the individual paths with chunk entry points might be a bit tricky in the general case. The conventions you're suggesting make sense.

@mjackson & @addyosmani may also have thoughts on this.

[2019-06-11 19:25] addyosmani commented on #129
I love the idea of a convention-based approach to better supporting React apps. I would like to see if we can achieve this without introducing our own arbitrary routes configuration format (ideally this can be inferred).

I also think we should start with better support for "production" scaffolds like Next.js. I'm curious how often sites use projects like https://github.com/fridays/next-routes.

[2019-06-12 11:25] evenstensberg commented on #129
This is probably a job for the open frameworks team then, right?

[2019-06-13 02:23] kumaran-is commented on #131
Tested today and the fix looks good. Thanks

[2019-06-13 02:23] #131 closed

[2019-06-18 08:30] pixelmord opened #139 "[guess-webpack] API - in production mode guess function not defined"
I used the nextJS demo as a base for my project (https://github.com/mgechev/guess-next).
When I run the nextJS server with NODE_ENV=production then the `guess()` function is not attached to the window object.

[2019-06-18 09:28] pixelmord commented on #139
In the JS component:
[code]

Versions:

`guess-webpack@0.3.7 `, `next@8.1.0`

[2019-06-18 09:45] pixelmord opened #140 "[question] In which way is ML / AI used for guess' predictions ?"
I am trying to get a better understanding of the features of guess.
At what point on an implementation level is ML used? Is the GA page transition data used as an input for the model application? Does the ML happen on the server and is done on the Google Analytics layer or is it run in the client (after retrieving data from GA?) ?

Thank you very much for pointing me in the right direction

[2019-06-18 17:31] mgechev commented on #139
Thanks for reporting this out! I'll look at the issue in the next a couple of days.

[2019-06-18 17:32] mgechev commented on #140
You can review the information in the readme or my original [blog](https://blog.mgechev.com/2018/03/18/machine-learning-data-driven-bundling-webpack-javascript-markov-chain-angular-react/) [posts](https://blog.mgechev.com/2018/05/09/introducing-guess-js-data-driven-user-experiences-web/) for further details.

[2019-06-18 17:32] #140 closed

[2019-06-21 17:54] mgechev commented on #139
@pixelmord I updated the dependencies in the demo. Everything seem to be working for me. Would you verify your webpack configuration looks like:

[code]

[2019-06-26 14:20] #139 closed

[2019-06-26 14:20] mgechev commented on #139
Closing it due to inactivity.

[2019-06-26 18:57] bartold3ak opened #146 "Gatsby build fails after adding gatsby-plugin-guess-js"
## Summary

After adding 'gatsby-plugin-guess-js' builds for my Gatsby site started failing.

## Code changes

[code]

[code]

[code]

## Error log

[code]

[2019-06-26 20:12] mgechev commented on #146
Looks like the right place to report the issue is https://github.com/gatsbyjs/gatsby. The gatsby plugin lives there. @wardpeet might be able to give pointers though.

[2019-06-26 20:15] wardpeet commented on #146
@bartold3ak seems like it's a gatsby error. Like @mgechev suggested, please open an issue on the gatsby repo. This way we make sure we don't forget about you :heart:.

[2019-06-26 21:35] bartold3ak commented on #146
@mgechev @wardpeet Thank you both! I'll post it there!

[2019-06-26 22:15] #146 closed

[2019-07-13 00:12] denispasin opened #152 "TypeError: Cannot read property 'userRequest' of null"
Building this with GatsbyJS but this is probably not related to it. At build time it got stuck with this error. Apparently, my module can be `null`.

Comes from this line:
https://github.com/guess-js/guess/blob/8c37974494cb649e1f71f491a73f136cf39b61f2/packages/guess-webpack/src/prefetch-plugin.ts#L52

Is there a weird thing in my config/page generation?

[2019-07-15 20:19] mgechev commented on #152
@denispasin do you have a demo where I can reproduce the problem?

[2019-07-23 02:49] mgechev opened #165 "Use a logger with different logging levels"
Currently, inside of the Guess.js webpack plugin there are a lot of statements in the form:

[code]

Instead of having this duplication of `this._config.debug` checks, it'd be better if we isolate the logic into a logger with different logging levels. We can either create a custom logger (no dependencies, smaller payload) or go with an existing one (code reuse).

[2019-07-23 02:58] mgechev commented on #152
@denispasin https://github.com/guess-js/guess/commit/dbee867a355392c8a722c2df550c6359f59fc22c should have fixed this. Would you give it a try with 0.3.8?

[2019-07-23 03:09] vprasanth commented on #165
I could take a look if you'd like.

[2019-07-23 03:10] mgechev commented on #165
Thanks! Assigned it to you. What approach would you prefer? Custom logger or something from npm?

[2019-07-23 03:32] vprasanth commented on #165
I can try custom if you want to keep the size/dependencies minimal and usage simple. How do you see the log level being set? Through env, explicitly on the logger itself, or through some other mechanism?

[2019-07-23 04:09] mgechev commented on #165
Custom sounds good. Currently, the Guess.js plugin accepts a `debug` flag. Two log levels controlled by the flag sounds good enough unless you have other ideas.

[2019-07-24 02:22] vprasanth commented on #165
I'll start there :)

[2019-07-27 23:14] mgechev commented on #165
@vprasanth let me know if you want to discuss this further :)

[2019-07-28 02:07] mgechev opened #174 "The Angular parser does not support multiple routes pointing to the same nested lazy route"
For example:

[code]

Will not work as expected.

[2019-07-28 02:09] mgechev opened #175 "The Angular parser does not properly recognize lazy routes"
For example:

[code]

The parser will return two URLs, although there's only one:

[code]

[2019-07-28 04:05] ajaybeniwal opened #176 "Unable to build the React Project uisng webpack guess plugin"
I am not able to build my react project using the webpack guess plugin with below error

95% emitting/Users/ajasingh/Work/CXE-UECP/node_modules/webpack-sources/lib/ConcatSource.js:42
			source += typeof child === "string" ? child : child.source();
			                                                    ^

TypeError: child.source is not a function
    at ConcatSource.source (/Users/ajasingh/Work/CXE

[2019-07-28 07:22] mgechev commented on #176
Hey @ajaybeniwal thanks for giving Guess.js a try!

Since React has *very* dynamic route definitions, it's not always possible to parse them ahead of time. To use Guess.js with React, react-router, and react-lodable, you must follow the route definition conventions listed [here](https://github.com/guess-js/guess/tree/master/packages/guess-parser#guess-parser).

Alternatively, feel free to use Gues

[2019-07-28 07:22] #176 closed

[2019-07-28 07:35] #174 closed

[2019-07-28 07:35] #175 closed

[2019-07-29 05:13] vprasanth commented on #165
Hey, sorry for the delay, was at a cottage this weekend :)

Anyways, I ended up adding a couple more log levels -- but set the logger to `DEBUG`. I added the additional levels to cover `error` and `warn`. So in total there is `DEBUG`, `INFO`, `WARN`, `ERROR`, and `OFF`. Default for the logger is set to `INFO`.

I've so far only updated the `prefetch-aot-plugin` file,  I noticed some other places w

[2019-07-29 15:56] #165 closed

[2019-07-29 15:57] mgechev commented on #165
@vprasanth looks great! Just merged the PR which introduced the logger & the initial refactoring. Feel free to replace the other `console` occurrences :)

[2019-07-30 03:36] mgechev commented on #152
Closing. Feel free to comment/open a new issue of the problem is not resolved.

[2019-07-30 03:36] #152 closed

[2019-08-01 18:12] mgechev commented on #129
Any further actions we're taking here?

Something I imagine is:

1. ESLint rule which validates that route definitions are statically analyzable by Guess.js
2. Alignment of the Guess.js react parser with the most user ergonomic route definition syntax

From here, everything should work out of the box. We already have good support for Next.js. A step forward there would be to implement the ahead-of

[2019-08-02 23:21] denispasin commented on #152
@mgechev Finally had the time to test this morning. That seems to fix it! Thanks a lot! (I had to rollback a "few" commits 'cause I found a way around it in the mean time)

[2019-08-03 02:18] mgechev commented on #152
🚀

[2019-08-28 22:29] traverseda opened #197 "Advertising package"
It looks like this project depends on https://github.com/feross/funding, a project intended to show advertising in a projects build log.

I'm not familiar with your project, I'm just looking through a list of projects that depend on `feross/funding`. It's my understanding that right now there aren't any advertising messages actually showing, but if you're uncomfortable with the possibility of adve

[2019-08-29 01:44] mgechev commented on #197
There are apps for the e2e tests that depend on this package, which should be fine. Thanks for the heads up!

[2019-08-29 01:44] #197 closed

[2019-08-29 05:37] morganpizzini opened #199 "Angular routing modules error on build"
When using an application with multiples routings module, one imported as 'forRoot', others 'forChild', the build goes wrong with
[code]

Here the source code
https://github.com/morganpizzini/guess-test

The guide I follow
https://www.youtube.com/watch?v=5FRxQiGqqmM

[2019-08-29 06:08] mgechev commented on #199
Thanks for the repro! This would be really helpful!

[2019-09-04 15:15] nicobytes commented on #199
I have the same error!
![Screen Shot 2019-09-04 at 10 13 17 AM](https://user-images.githubusercontent.com/7611944/64267842-b4afa080-cefc-11e9-84b3-d1b9cbc880e4.png)

[code]

[2019-09-04 22:06] mgechev commented on #199
Would you provide a minimal reproduction as well? I want to make sure both errors are caused by the same routing structure.

[2019-09-10 17:40] mgechev commented on #199
It should be easy to fix this. @nicobytes, what you need in this case is to parse the routes witht:

[code]
The second argument of `parseAngularRouets` is a list of modules to ignore as root ones. In the process of parsing your routing tree, Guess.js needs to find a single root routing module so it can start building your route definitions. For example:

[code]

This way Guess.js knows that you ha

[2019-09-10 18:06] morganpizzini commented on #199
I think, me and @nicobytes got the same issue, probably related to the new 'loadchildren' method. Can you try to implement the solution on my repo or provide us a solution using 'import().then()' syntax?
Thank you

[2019-09-10 20:02] mgechev commented on #199
Above I used `loadChildren` set to string for simplicity. For Guess.js it doesn't matter. Just add the modules different from your root module to the exclude array in `parseAngularRoutes`.

[2019-09-11 19:29] mgechev opened #209 "Cyclic imports"
The Angular parser does not handle cyclic imports.

[2019-09-11 19:30] #209 closed

[2019-09-13 09:11] chrisguttandin opened #214 "[guess-parser] v0.4.x has no type definition files"
I'm not sure if version 0.4.x is meant to be used already because I can't find it here in any of the branches. However it is available on npm but I noticed that it is missing the type definition files.

Here is the diff from [Package Diff](https://diff.intrinsic.com) which shows what has changed.

https://diff.intrinsic.com/guess-parser/0.3.13/0.4.2

Please let me know if there is anything I can d

[2019-09-13 16:01] mgechev commented on #214
Version 0.4.x is based on [this](https://github.com/guess-js/guess/pull/210) PR. I'll publish type definitions sometime soon. There are few more regressions I need to fix, but by the end of today/tomorrow this should be all working.

[2019-09-13 16:28] chrisguttandin commented on #214
Thanks for letting me know. I don't mind if it won't be ready by tomorrow. I just thought you might be unaware of the regression.

[2019-09-13 23:53] mgechev commented on #214
Everything should be fine now. The improvement that 0.4.x introduced is around handling cyclic dependencies.

`guess-parser` still doesn't have support for TypeScript path mapping, but so far this feature hasn't been widely requested.

[2019-09-13 23:53] #214 closed

[2019-09-14 12:52] chrisguttandin commented on #214
Thank you very much.

[2019-09-15 05:22] mgechev commented on #199
Let me know if the second argument of `parseAngularRoutes` does not help. Closing for now.

[2019-09-15 05:22] #199 closed

[2019-09-20 05:37] morganpizzini commented on #199
Hi, I just test it, and the second arguments seems to not be allowed in `parseAngularRoutes`. Where I should import and call that function? There is no documentation about that.
Could you make a PR to my repository with the solution? At the moment the sample has just two modules: `FirstModule` and `SecondModule`. The build script is `npm run build:guess`.
Thank you

[2019-09-21 12:26] mgechev commented on #129
Seems like the DX for folks using meta frameworks (Next.js & Gatsby) could be improved. With @wardpeet we're having a discussion how to introduce the ahead-of-time prefetching model in Gatsby.

I'll close this discussion for now since it doesn't seem possible to make this work in the general case.

[2019-09-21 12:26] #129 closed

[2019-09-22 14:40] evenstensberg commented on #129
Is there a way to not only have this in meta-frameworks but React itself?

[2019-09-26 22:02] mgechev opened #228 "Add attribute to the body/head element with Guess.js version"

[2019-09-26 22:05] mgechev opened #229 "Improve the documentation"
There's a lot of place for improvement of the documentation.

- [ ] Update the Angular guide to use `ngx-build-plus`
- [ ] Improve the API documentation explaining the configuration properties
- [ ] Include a guide showing how to use Guess.js with JWT instead of OAuth
- [ ] Include Gatsby guide

[2019-09-26 22:18] Coly010 commented on #67
What are i18n and l10n requirements for the friendly message?

[2019-09-26 22:34] mgechev commented on #67
I think, for now, it's good enough to catch the error that `guess-ga` throws when `guess-webpack` requests a report and display an error message that the user has exceeded the rate limit + a URL for requesting a bump in quota.

[2019-09-26 23:54] brolag commented on #229
I'll start taking a look at this

[2019-09-27 02:48] brunob15 commented on #228
Hi Minko! I don't have much experience but I would like to work on this one.

Do you have any approach to achieve this?

[2019-09-27 04:01] mgechev commented on #228
This features involves the following two steps:

1. Extracting the Guess.js version from package.json
2. Adding an attribute to an element on the page with value the extracted version

For the first step there are two main approaches that seem feasible. The first one is adding a placeholder in any of the runtime script templates and filling it in the `build` npm script. The other approach is getti

[2019-09-27 20:45] wardpeet commented on #129
Hey, sorry for the late answer. I still have to get to the bottom of this for Gatsby.

@evenstensberg I think it's going to be pretty difficult to improve DX for none meta frameworks as you'll need to know what pages are created, which components they load, ...

[2019-09-28 06:12] evenstensberg commented on #129
Yeah, indeed. I was hoping we'd find a place where we could parse a routing file and use that for guess-ing

[2019-10-01 11:59] brunob15 commented on #228
Thank you for the answer! I'm taking a time to dig into the problem and have a better understanding.

Let me put an example to see if I understood.

Lets say we add a version.ts file under guess/packages/guess-parser/src. This file contains something like: const guess_version = '';
This file also is in charge on adding the guess-version attribute to the DOM.

Also we modify the npm run build scrip

[2019-10-01 23:25] brunob15 commented on #228
I'm sorry, I was wrong. The placeholder should go in /packages/guess-webpack/src/runtime/runtime.ts.

[2019-10-02 06:46] muuvmuuv opened #233 "Allow other providers than Google Analytics"
Hey, I really like the idea of Guess and this IS the future of how people browse websites faster with less network actions BUT I'm really not a fan of GA and does not use it so this is a downside.

I haven't looked closer into the codebase yet but might it be possible to extend Guess with plugins to use other providers than GA? I'm using [SimpleAnalytics](https://simpleanalytics.com/) which is a u

[2019-10-02 15:17] mgechev commented on #233
Hey, thank you for the interest! Guess.js supports an arbitrary report provider.

As part of the GuessPlugin config you should specify an async function called `reportProvider` which returns an object in the following format:

[code]

Sorry for the lack of good documentation at this point. This is something we're currently working on.

[2019-10-02 15:17] #233 closed

[2019-10-02 17:47] mgechev commented on #228
@brunob15, yes, this sounds like a good plan to me! You're right about the package, it should be in `guess-webpack/src/runtime/runtime.ts`.

[2019-10-02 21:20] brunob15 commented on #228
Great, thank you for your answer! I'll try to come back with a solution.

[2019-10-06 08:37] morganpizzini opened #234 "Build error on nested routes configuration"
Got the following error when run build with guess opt active

[code]
It occurs only when I setup nested routes configuration:
- 'administration'
  - 'second'
- ''
  - 'first'
  - ''
  - '**'

With routes at the same level:
- 'second'
- 'first'
- ''
- '**'

I don't get any error.

Repo for reproducing the error: [link](https://github.com/morganpizzini/guess-test)
Build command: `npm run build:guess

[2019-10-07 00:04] mgechev commented on #234
Thanks for providing a repro! I'll try to check this out next week.

[2019-10-10 04:51] MitkoTschimev commented on #234
I can confirm this problem. I will try to dig in too.

[2019-10-10 21:00] MitkoTschimev commented on #234
So what I figured out is that the code is calling a function on an array which not exists. I fixed it on my fork and it was working.

@mgechev Any idea why u are trying to call the function getChildren? Maybe a typescript version?

![image](https://user-images.githubusercontent.com/988473/66606062-5bedba80-ebc2-11e9-88e2-2b0641ee763b.png)

I created a condition at this point to support both. Nativ

[2019-10-18 04:34] guanzo commented on #233
What about an arbitrary rpoert provider for guess-static-sites?

[2019-10-21 22:25] #234 closed

[2019-10-21 22:25] mgechev commented on #234
@morganpizzini, I released this over a week ago. Let me know if the issue is still not resolved.

[2019-10-22 05:47] morganpizzini commented on #234
It was working, I put also an approve on the PR, thank you!
At the moment I just upgrade to 0.4.10, but I got the following error. I didn't touch anything in source code
[code]
Sould I open a new Issue?
Thank you!

[2019-10-22 18:11] mgechev commented on #234
@morganpizzini would you provide a minimal demo where I can reproduce the problem? Please open a new issue with it. Thanks!

[2019-10-24 21:27] morganpizzini opened #255 "Detect when Module is imported as Lazy"
After updating to 0.4.10, during the build guess fail and prompt
`Multiple root routing modules found` when I try to use lazy loading modules.

By looking inside the node_module library I made some test and find out that "filter never filter" at `var roots = allModulePaths.filter(function (m) { return !childModules.has(m); });` inside `index.js`.
`allModulePaths` are the **routing module path**, w

[2019-10-25 04:11] mgechev commented on #255
To workaround this just pass a second argument to `parseAngularRoutes` specifying which root modules to be ignored in an array (i.e. everything else that the parser returns except your app module).

You can use `parseAngularRoutes` the same way as `parseRoutes` but make sure you specify the `tsconfig` path as the first argument (and an array with excluded root modules as I mentioned above).

[2019-10-28 23:13] chrisguttandin commented on #255
Hi @morganpizzini, are you by chance using a Windows machine? If so #257 might have fixed the issue.

[2019-10-29 22:55] mgechev commented on #255
@morganpizzini did you have a chance to try the latest release?

[2019-10-29 23:01] morganpizzini commented on #255
Just test Version 0.4.11 and I successfully reach guess's authorization page, thank you!

[2019-10-30 00:33] mgechev commented on #255
🎉🎉🎉

[2019-10-30 00:33] #255 closed

[2019-11-06 02:37] naveedahmed1 opened #264 "Cannot find source file for FileSaver.min.js error"
The latest version of guessjs throws below error:

[code]

**Version**
[code]

**OS**
Windows

[2019-11-10 20:47] mgechev commented on #264
Fixed by https://github.com/guess-js/guess/commit/2e99172a30c59929322a84308a9011ca49877adf.

[2019-11-10 20:47] #264 closed

[2019-11-25 03:50] subhojit-cn opened #276 "Error: No access, refresh token or API key is set."
When I try to build the simple angular app with guess js. It's giving me the error.

My "extend.webpack.config.js" is like below:
[code]

The build error is like that.
[code]

Please help me to resolve this issue.

[2019-11-25 14:46] mgechev commented on #276
Do you provide access to your GA report?

[2019-11-26 04:00] subhojit-cn commented on #276
Yes, I gave permission on oAuth popup.

First, a browser opens according to below link screenshot:
https://drive.google.com/file/d/1hkvD85_E2S4QOq9TcOwRDyvp6hWoinzx/view?usp=sharing

Then the permission popup comes and  I gave permission and then it redirects in a link and doesn't able to run the server.
https://drive.google.com/file/d/1l8TIQo2WdOIm2SzYpH8Ufqjy9E2iYNHp/view?usp=sharing

Please che

[2019-11-27 12:53] mgechev commented on #276
Here you click on "Go to guess-js (unsafe)", right?

Yes, this looks like the problem. I cannot reproduce the issue locally. Do you have permission for opening a port on your machine?

[2019-11-28 08:35] subhojit-cn commented on #276
Yes I did "Go to guess-js (unsafe)"

I am can't able to check that. Can you please let me know how to check on the mac laptop?

Please give me some solution for this so I can implement guess js in my angular projects.

[2019-12-07 10:23] praveentcom opened #281 "TypeError: Cannot read property 'tapAsync' of undefined"
There was an issue when I ran 'npm build' in the Angular 8 project.

[error] TypeError: Cannot read property 'tapAsync' of undefined
    at GuessPlugin.apply (D:\ESA\node_modules\guess-webpack\dist\guess-webpack\main.js:476:41)
    at webpack (D:\ESA\node_modules\webpack\lib\webpack.js:51:13)
    at createWebpack (D:\ESA\node_modules\@angular-devkit\build-webpack\src\webpack\index.js:19:74)
    at

[2019-12-07 18:54] mgechev commented on #281
Would you provide a minimal demo where I can reproduce the issue?

[2020-01-04 13:51] castillo05 commented on #281
Hello, I had the same problem and I solved it by updating the angular version in my project.

[2020-01-04 13:51] castillo05 commented on #281
ng update @angular/cli @angular/core --allow-dirty

[2020-01-04 20:03] #281 closed

[2020-01-17 23:58] aaronfrost commented on #229
Also... adding some code comments so that the code isn't so obscure and is easier to follow. I want to get in and make changes, but without any comments, it's slow going.

[2020-01-18 17:33] mgechev commented on #229
@aaronfrost what part of the implementation do you find obscure so I can help? Adding comments to non-public APIs will not necessarily add much value.

[2020-01-18 19:40] aaronfrost commented on #229
Adding comments to non-public APIs will help with people trying to comment and submit pull requests. I need to make a PR, cause there is an issue with the "Multiple Root" stuff. But trying to see what the code is doing is tough, and the why is even tougher.

Comments around the code or any documentation around any of the implementations would be nice.

[2020-01-23 22:30] JandroMejia97 opened #311 "TypeError: Cannot read property 'eagerRoutes' of undefined"
# Can´t read property 'eagerRoutes' of undefined

My _extend.webpack.config.js_ is like below:
[code]

But I get this error when I run the `ng build --prod` command.

[code]

[2020-01-23 22:42] mgechev commented on #311
@JandroMejia97 thanks for giving Guess.js a try! Looks like the parser fails to resolve the routes in your app.

Unfortunately I cannot debug the issue without a repro. Would you be able to share a minimal example where you can reproduce the problem?

[2020-01-23 22:47] mgechev commented on #311
Just found the public repo in your account and reproduced the problem. I'll see what I can find.

[2020-01-23 22:48] JandroMejia97 commented on #311
Do you think it's good if I share the repository of the project I'm working on? So you can play it directly.

[2020-01-23 22:52] JandroMejia97 commented on #311
@mgechev make sure you are working with the performance branch, since that is where I am applying Guess.js for a performance course.

[2020-01-23 23:01] mgechev commented on #311
Guess.js gets confused because you don't have route declarations in `about-routing.module.ts`, which makes sense, but still the failure should not happen.

Until I push a fix, you can workaround the problem by replacing your `about-routing.module.ts` with:

import { NgModule, Component } from '@angular/core';
import { Routes, RouterModule } from '@angular/router';

@Component({
  selector: 'foo',

[2020-01-23 23:03] JandroMejia97 commented on #311
I will make this modification, maybe that is the problem

[2020-01-23 23:09] mgechev commented on #311
Fixed in https://github.com/guess-js/guess/pull/312. Let me know when you verify so I can release.

[2020-01-23 23:12] JandroMejia97 commented on #311
Yes, this was the problem. Thanks for your valuable help. Issue solved.

[2020-01-23 23:12] #311 closed

[2020-01-23 23:20] JandroMejia97 commented on #311
@mgechev I have another question, after executing the `ng build --prod` command and this command opens a new window to try to log in to my Google account, this is not possible because Google blocks access. Attached image.
![Uploading image.png…](Google blocks access)

[2020-01-23 23:21] mgechev commented on #311
Not sure what the text says. Would you translate?

[2020-01-23 23:22] JandroMejia97 commented on #311
Translation: Logging in with Google in this application has been temporarily disabled
We have not yet verified this application so you can use Google login.

[2020-01-23 23:30] mgechev commented on #311
I'm not sure why Google is blocking it that aggressively. Here's what usually happens:

Step 1:

<img width="715" alt="Screen Shot 2020-01-23 at 3 29 20 PM" src="https://user-images.githubusercontent.com/455023/73032885-37c28c00-3df5-11ea-8b13-0f9a61f21fdd.png">

Step 2:

<img width="761" alt="Screen Shot 2020-01-23 at 3 29 27 PM" src="https://user-images.githubusercontent.com/455023/73032891-3f82

[2020-01-23 23:32] JandroMejia97 commented on #311
In this case, doing what you recommend is not possible.

[2020-01-23 23:34] JandroMejia97 commented on #311
In the image you can see that none of these options appear

[2020-01-23 23:50] mgechev commented on #311
Unfortunately, there's nothing I can do at this point. You can [generate JWT tokens](https://2ality.com/2015/10/google-analytics-api.html) and provide them to Guess.js in a similar way I did [here](https://github.com/mgechev/revive.run/blob/master/gatsby-config.js#L79-L82).

[2020-01-25 10:09] SanderElias opened #313 "guess-parser incorrect listing of child routes"
I created a small [demo app](https://github.com/SanderElias/sampleToShowGuessIssue/invitations) to showcase this issue.

The route configuration that gets parsed incorrectly:
[code]
(this is part of `user-routing.module`, which is lazy loaded by `app-routing.module`)

I added a small util to the repo that you can trigger with `npm run gp`, it dumps out the results of Guess-Parser to the console:
[

[2020-01-25 13:08] SanderElias opened #314 "guess-parser can't handle orphaned routes"
In the same repo I created for #313 I commented out one of the lazy loaded routes like this:
[code]

Note, I didn't remove the actual about-module, but this is not loaded by my angular app anymore.
In Angular everything works as expected, except this module is no longer accessible.

now the `npm run gp` utility function gives the following error:
![image](https://user-images.githubusercontent.com/

[2020-01-26 01:26] xmlking opened #315 "Error : Multiple root routing modules found with nx workspace project"
I am testing `guess-parser` in my nx repo https://github.com/xmlking/yeti
I am using   `guess-parser`  v0.4.14

[code]

### How to reproduce
[code]

#### Getting following error for `parseAngularRoutes('./apps/webapp/src/app')`
[code]

#### Getting following error for  `parseAngularRoutes('webapp')`
[code]

Ref:  https://github.com/scullyio/scully/issues/40

[2020-01-27 17:42] mgechev commented on #313
Thanks for reporting this! I'll check this out today.

[2020-01-27 17:54] mgechev commented on #315
When I pointed to your `tsconfig.app.json` everything worked well:

[code]

My guess is that passing `webapp` as the first argument of `parseAngularRoutes` confuses the parser and makes it pick the wrong `tsconfig`.

[2020-01-27 18:08] mgechev commented on #314
I'm not able to reproduce this issue. After commenting the `about` route the `about.module.ts` is no longer part of the TypeScript program, so the parser does not have to process it.

[2020-01-27 19:19] SanderElias commented on #314
It seems that we need to feed it the tsconfig.app.json, and not the containing folder. I will update that, and report back if there is still an issue.

[2020-01-27 19:19] #314 closed

[2020-01-27 22:27] #313 closed

[2020-01-28 17:34] thetre97 opened #320 "Cannot read property 'source' of undefined"
I'm trying to create a plugin for Gridsome (based on the Nuxt demos), and it works perfectly in development mode. However, when I try to build a project I get this error:
[code]

The Guess options are as below:

[code]

Would be glad of some help as to what the issue is here?

[2020-01-28 18:39] mgechev commented on #320
Would you share a minimal demo where we can reproduce the problem?

[2020-01-28 18:40] mgechev commented on #315
Let me know if this does not resolve your problem.

[2020-01-28 19:18] thetre97 commented on #320
Please see https://github.com/thetre97/gridsome-demo-guess, where I have replicated what my intended plugin does...

[2020-01-28 19:19] xmlking commented on #315
thanks @mgechev  this works.  I think scullyio will adopt this convention.

[2020-02-02 21:24] xmlking commented on #315
@mgechev  Just F.Y.I....  `v0.4.15` is `Multiple root routing modules found` error  with nx workspace projects
 `v0.4.14` works fine.

[2020-02-03 06:44] SachinShekhar opened #323 "parseAngularRoutes fails to extract static routes when there's 'matcher' in routing configuration"
If I [add `matcher` to routes](https://github.com/SachinShekhar/angular-ssr-prerendering-bug/commit/408718c53279cfbc23b8f08a4ddbcb63960b5a03#diff-a33ab3ec16826bcb604fc915003ed860), parseAngularRoutes fails to extract even static routes (I don't expect it to work with matcher, but at least it should work with static routes). Checkout this commit and run `prerender` script from package.json to see t

[2020-02-06 21:50] mayrong commented on #276
Did somebody solve it?

[2020-02-06 22:07] mayrong commented on #276
![config](https://user-images.githubusercontent.com/43830717/73982635-3bc4d280-48fa-11ea-9a76-d0627cbc0389.JPG)

If i leave my extend like that, it gives me this error:
![errorWithParse](https://user-images.githubusercontent.com/43830717/73982724-6dd63480-48fa-11ea-9859-750d4d49c5c3.JPG)

If i delete routeProvider() it runs but then i cannot give permission
![google](https://user-images.githubuser

[2020-02-07 12:59] slavoroi opened #328 "Can't perform authentication with guess-ga"
1) I created a project in google console.
2) I created a private key with no restrictions
3) I opened a google analytics account
4) I added analytics.js and used angulartics2 for Angular (and the routes recordings worked)
5) Running :
[code]
Can't seem to pass this code in main.js:
[code]

Opens a new chrome tab and clicking on my user get's me:

Trying:
[code]
throws Login Required.
I tried to gi

[2020-02-07 13:16] kasperstorgaard commented on #328
Dont know about the plugin, but for the second case (using fetch), the documentation is out of date.

What you really need is to generate a JWT auth client like so:
[code]

https://github.com/googleapis/google-auth-library-nodejs#json-web-tokens

[2020-02-07 13:49] slavoroi commented on #328
Yeah! you'r right, except the relevant scope is:
 'https://www.googleapis.com/auth/analytics.readonly' and **not**
'https://www.googleapis.com/auth/cloud-platform'.
Thanks! The fetch works and the Docs should be updated.

[2020-02-07 14:01] kasperstorgaard commented on #328
ah cool, I was getting an issue with that scope too

[2020-02-08 04:00] mgechev commented on #328
@kasperstorgaard thanks for pointing this out! Would you have a moment to fix the documentation?

[2020-02-08 11:55] kasperstorgaard commented on #328
@mgechev I'll take a stab at it

[2020-02-11 10:23] slavoroi commented on #328
Any update on the issue of using :
[code]
![Screenshot from 2020-02-11 12-21-58](https://user-images.githubusercontent.com/13114384/74228488-2e786100-4cc9-11ea-8b6b-06543b4cbc7d.png)

[2020-02-11 22:47] mgechev commented on #328
@slavoroi you can check the guide by @kasperstorgaard https://github.com/guess-js/guess/tree/master/packages/guess-ga#ga.

[2020-02-12 16:04] kasperstorgaard commented on #328
looks like you need to add the jwt client,
documented here:
https://github.com/guess-js/guess/blob/master/packages/guess-webpack/src/guess-webpack.ts#L19

which would make the final webpack setup look something like this:

[code]

Does that work? (don't have the time right now to set up a test repo)

[2020-02-12 20:43] kasperstorgaard commented on #328
update, so it turns out the `jwt` option was not meant for an auth client,
just the credentials.
(it then creates the JWT client on the inside)
[code]

[2020-02-12 21:03] slavoroi commented on #328
Yap! it works :)
Works amazing.
Please update your guess-webpack **docs** and **types**.

[2020-02-15 12:07] mustordont opened #335 "Angular9 Unable to extract routes from application."
1. Created new angular9 app
2. Added SSR:

3. Added lazy-load module:

4. Moved routes from separate routing module to the main lazy-load module: [test.module.ts](https://github.com/mustordont/nguniversal-guess-routes/blob/master/src/app/test/test.module.ts)

5. Run:

guess-js throws:

Affects only Windows machines
Reproduction: https://github.com/mustordont/nguniversal-guess-routes

[2020-02-15 20:09] CharlyRipp opened #336 "Angular 9 - Unable to discover lazy children routes"
Lazy children, am I right?

### **Goal:**
Angular project with main route, then a sub-route with a child-router-outlet to provide a 'sub-nav' of sorts with lazy-loaded children

[code]

### **Issue:**
When using router `children` the discovery of the routes cannot be done when the child is lazy-loaded (`loadChild`). Seems to work fine with directly loaded components via `component: ...`

### **Sym

[2020-02-16 04:13] mgechev commented on #336
Thanks for providing the repro! I'll try to look at it next week.

[2020-02-16 04:13] mgechev commented on #335
Thanks for providing the repro! I'll try to look at it next week.

[2020-02-16 04:14] mgechev commented on #328
@slavoroi would you open a PR to update what's missing?

[2020-02-16 04:16] mgechev commented on #276
@subhojit-cn you can use the JWT solution from [this](https://github.com/guess-js/guess/issues/328) issue.

[2020-02-16 06:51] slavoroi commented on #328
yap :+1:

[2020-02-18 00:36] kuncevic commented on #335
I had the same issue, prerender always throwing `Unable to extract routes from application` and I am on MAC, this error didn't happen like before RC.9 or something

[2020-02-18 00:39] kuncevic commented on #335
I had the same issue, prerender always throwing `Unable to extract routes from application`

![image](https://user-images.githubusercontent.com/1283734/74694197-40b34b80-5243-11ea-9cbf-122c318fef94.png)

This error started like after RC.8 or RC.9. However I've got my app prerendering with no issues though.

[2020-02-19 03:57] JandroMejia97 commented on #315
I get the same problem in Angular 9:

[code]

**extend.webpack.config.js file:**
[code]

The problem is that I have the following URLs in the Routings of each module

**app-routing.module.ts**

[code]

**contact-routing.module.ts**

[code]

**auth-routing.module.ts**
[code]

And similar routes in home, product, about and orders routing modules.
Repository: [Platzi Store](https://github.com/JandroM

[2020-02-28 21:04] c3mohamn commented on #335
Having the same issue.

It's breaking in the mapping starting at line 535 in [angular/index.ts](https://github.com/guess-js/guess/blob/master/packages/guess-parser/src/angular/index.ts#L535
).

[2020-03-02 19:11] mgechev commented on #335
@kuncevic, @c3mohamn can you provide a sample project where I can reproduce the issue?

[2020-03-04 04:45] aaronfrost opened #345 "If app-routing isn't in same dir as app.module, guess errors on it's lazily loaded routes."
If my project looks like this:

[code]

And in the `app-routing` I have routes that are lazily loaded, when I do the traverseForRoutes stuff... it errors on the lazily loaded modules in the app-routing. If I move the file back to the same dir as the app.module... the error goes away.

[2020-03-05 05:44] mgechev commented on #345
It'll be helpful if you can provide a tiny repro so I can play around with it over the weekend.

[2020-03-05 05:53] aaronfrost commented on #345
This is a good point. Let me see if I can get something together for you.

[2020-03-10 07:25] cschwaderer opened #349 "Angular: Any chance for routes dynamically put together?"
Since it is a requirement for my app, that all components need to be accessible from many different paths, I create my routes dynamically like so

[code]
That works pretty well in Angular 9. In guess-api, however, it doesn't work at all.  Just an empty array is returned. If I change routesReady to `var routesReady: Routes = [{component: DummyComponent, path 'dummy/dummy'}];` then guess will at lea

[2020-03-10 18:37] mgechev commented on #349
The guess parser can't resolve the routes statically for such dynamic configurations. It's not possible to discover them at build time.

[2020-03-10 18:37] #349 closed

[2020-03-15 02:11] #315 closed

[2020-03-15 02:23] mgechev commented on #336
@CharlyRipp would you try 0.4.17?

[2020-03-23 10:55] darrylsepeda commented on #281
I encounter same issue with NextJS 9.0.2 ReactJS

[code]

[2020-03-28 12:41] asithade commented on #336
I believe I'm seeing the same issue.

[code]
But I'm still getting the error: `Unable to extract routes from application.`

[2020-04-09 04:07] hideokamoto opened #372 "[guess-parser] Is not support Nextjs?"
## Expect behavior
- Configure guess.js configuration using by `guess-webpack` and `guess-parser`
- run `next build`
- guess.js works well

## Actual behavior
When we run `next build`, we'll get this error.

[code]

## Issue
I've checked the code, I think the `guess-parser` does not support nextjs.

https://github.com/guess-js/guess/blob/3c55310899f601aeedfa483db571de905b6c8797/packages/guess-pars

[2020-04-11 00:01] mgechev commented on #372
You can find a demo with Next.js here https://github.com/mgechev/guess-next.

[2020-04-11 02:36] hideokamoto commented on #372
I'm asking about `guess-parser`, not `guess-webpack`.
OK?

In `guess-parser`, the `detect.ts` files does not definition about next.js.
https://github.com/guess-js/guess/blob/3c55310899f601aeedfa483db571de905b6c8797/packages/guess-parser/src/detector/detect.ts
Only `Angular` `Create React App` `Gatsby` ` Preact`.

Is the `guess-parser` not for nextjs?

[2020-04-11 02:37] hideokamoto commented on #372
Or, you mean we can not use `guess-parser` for nextjs?
I can't understand what you said.

[2020-04-11 15:58] mgechev commented on #372
Yes, you are correct. The parser does not support Next.js which means that you can't take advantage of the ahead of time prefetching of Guess.js. At the same time, you can embed the prefetching instructions for your entire application as part of your main bundle. This way you can enable predictive prefetching for your Next.js app.

[2020-04-13 02:23] hideokamoto commented on #372
I understand.
Thanks a lot.

[2020-04-13 02:23] #372 closed

[2020-04-13 02:25] hideokamoto commented on #372
FYI.

My Next.js application config is here.
Probably, we can use GA information when we run `next build && next export`.

[code]

[2020-05-07 10:32] danieldimitrov91 commented on #336
Any update on this issue?

[2020-05-07 21:03] mgechev commented on #336
@asithade would you provide a reproduction?

[2020-05-08 15:35] SanderElias opened #392 "Feature request. Add option to add redirects to the routes array."
In Scully, we use the guess-parser to traverse the app to find all the routes. For the static sites, it would be better to generate the redirected routes too. Right now, those don't seem to appear in the array.

[2020-05-09 20:14] #392 closed

[2020-05-13 20:40] thetre97 commented on #320
Hello @mgechev , any update on this?

[2020-05-20 16:21] JandroMejia97 opened #401 "GuessJS does not work with Firebase Analytics 🤔"
GuessJS currently does not work with Firebase Analytics.
When I run 'ng build --prod' I get the following message **'UnhandledPromiseRejectionWarning: Error: user does not have sufficient permissions for this profile'**.

This is my setting in 'extend.webpack.config.js':
[code]

This is the message from the terminal
[code]

I think this error is due to Firebase Analytics not allowing you to create

[2020-06-15 22:56] CharlyRipp commented on #336
Many apologies -- things got pretty crazy for a while, finally got around to retesting.

I updated the project (https://github.com/CharlyRipp/guessjs-a9-child-discovery-iss) to Angular 9.1.8 -- universal builder 9.1.1 -- guess-parser 0.4.18

[code]

And everything seems to work beautifully!

[code]

The lazy-loaded module (lazy-child) is discovered and prerendered as expected!

[2020-06-15 22:56] #336 closed

[2020-07-15 18:08] crisfranco15793 opened #408 "Sign in with Google temporarily disabled for this app"
Sign in with Google temporarily disabled for this app. This app has not been verified yet by Google in order to use Google Sign In.

This error occurs when I run ng build --prod

[2020-07-29 23:25] kuncevic commented on #335
Just migrated to v10 all seems good

[2020-07-31 21:00] mgechev commented on #335
Closing for now. Free free to open a new issue if the problem is not resolved.

[2020-07-31 21:00] #335 closed

[2020-07-31 21:01] mgechev commented on #408
Yes, that's currently a known issue https://github.com/guess-js/guess/issues/328.

My recommendation would be to use a JWT instead of OAuth. Closing this ticket since it's a duplicate.

[2020-07-31 21:01] #408 closed

[2020-08-18 18:51] skyme5 commented on #228
@brunob15 are you still working on this issue? We can use the following method,

- with TypeScript 2.9+, compiler option `resolveJsonModule` allows directly importing json files
- set `compilerOptions.resolveJsonModule` to `true` in both [`/tsconfig.json`](https://github.com/skyme5/guess/blob/74c6e22f408578fcfd49f682e232e1193788cba5/tsconfig.json#L10) and [`/packages/guess-webpack/tsconfig.json`](

[2020-08-18 20:13] brunob15 commented on #228
@skyme5 No, I'm not.

[2020-08-28 10:13] anandsiddharth opened #415 "Stuck forever"
![2020-08-28](https://user-images.githubusercontent.com/6649533/91549760-0db1e900-e945-11ea-8e90-e0aafb0d475b.png)

[code]

Nuxt: v2.13.1
Guess webpack: 0.4.19

[2020-08-28 10:25] anandsiddharth commented on #415
## UPDATE

So just figured out, the signin with google is disabled for this app error issue.

How to fix?

![2020-08-28 (4)](https://user-images.githubusercontent.com/6649533/91550898-e8be7580-e946-11ea-97f9-9426bb50e299.png)

[2020-08-28 16:00] mgechev commented on #228
Excuse me for the delay. We did some experiments in HTTPArchive to find who's currently using Guess.js.

Looks like crawlers are executing JavaScript. They can look up the `__GUESS__` global and find if the app is using Guess.js. It'll be useful, however, adding the version as a property of the global object.

Having:

[code]

Would be great.

[2020-08-31 16:25] mgechev commented on #415
You can use a JWT. Find [docs here](https://github.com/slavoroi/guess/tree/master/packages/guess-ga#setup).

[2020-09-02 08:21] anandsiddharth commented on #415
@mgechev Okay.. that worked, Thanks.
But it doesn't generate any prefetching instruction for my nuxt project.
Here is my configuration

[code]

If I add guessParser, it throws unknown project type.

https://github.com/guess-js/guess/blob/27d56d9d3e259934da8e95b42c5ff9d411a19431/packages/common/interfaces.ts#L33

I believe there is no ProjectType for vue or nuxt, on `packages/common/interfaces.ts`

[2020-09-02 21:59] mgechev commented on #415
@daliborgogic should be able to help for Nuxt.

[2020-09-03 10:15] anandsiddharth commented on #415
Hi @daliborgogic,
Am I doing something wrong with my configuration?

[2020-10-23 19:31] ties-s opened #425 "Update @wessberg/ts-evaluator"
Can be @wessberg/ts-evaluator to the latest version? The current version doesn't support Typescrip 4.x so will produce these kinds of errors: `npm WARN @wessberg/ts-evaluator@0.0.26 requires a peer of typescript@^3.x but none is installed. You must install peer dependencies yourself.`

[2020-10-29 13:17] mgechev commented on #425
Yes, I'll look into this today.

[2020-10-29 14:31] mgechev commented on #425
It's out in 0.4.22.

[2020-10-29 14:31] #425 closed

[2020-12-12 07:35] MiltonAkash opened #449 "Is there anny way/API to know which pages the user are going to be prefetched"
Im using gatsbyJs. Is there way to know the predictions of links that are going to be prefetched so I can add extra stylings to them or display them in a separate place and make it easy for users to click

[2020-12-13 18:52] mgechev commented on #449
You can find how we did that in the demo from Google I/O 2018 [here](https://github.com/guess-js/gatsby-guess/tree/master/plugins/gatsby-guess-js-link-highlight).

[2020-12-13 18:52] #449 closed

[2020-12-30 07:18] chinkan commented on #336
Hi,

I have upgrade to angular 10 universal with guess-parser@0.4.22. I still got "Unable to extract routes from application." when I try to prepender. Thanks!

Here is the result of the npm list guess-parser

[code]

[2021-01-21 13:08] renovate[bot] opened #457 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 15:01] #457 closed

[2021-01-23 12:58] suke commented on #345
Hi, I created a [demo app](https://github.com/suke/guess-parser-lazily-loaded-routes) that reproduces this problem.
It also includes a script to run guess-parser `node ./scripts/routes.js`.

[2021-01-23 22:31] mgechev commented on #345
Thank you @suke, I'll make some time for this issue in the next a couple of days.

[2021-02-02 14:17] przmkk opened #461 "Documentation issue"
How to check if guess-js works properly on site?

[2021-02-06 05:09] rhutchison commented on #345
I can confirm I'm also seeing an issue with path resolution.  lmk if you need additional details, but it sounds like the same issue.

[code]

[2021-02-10 01:02] mgechev commented on #461
Hey @przmkk, did you check https://guess-js.github.io/docs? What issues are you facing?

[2021-02-10 05:27] coderdix commented on #281
Same here, did you ever find a solution?

[2021-04-30 14:59] #461 closed

[2021-04-30 16:49] jamieking1996 opened #496 "Allow use of constants in Angular Routes (Using Scully)"
Hi there, I raised on issue on the Scully gitter channel that it does not pre render child routes which are assigned to a constant. For example, when this child "privacy" route is in a constant like this:

[code]

However, it will pre render when the privacy route is hardcoded:

[code]
Someone at the Scully team pointed out that Scully uses guess-parser for working out what routes can be pre rende

[2021-05-01 19:59] mgechev commented on #496
The Guess.js parser does not support this construct, unfortunately. I'd consider this feature request outside the scope of the project.

[2021-05-01 19:59] #496 closed

[2021-05-03 20:45] AlexAegis commented on #345
I encountered the problem too, and explored it a little further, for example in the case of nested lazy modules. Please check the description of this issue: https://github.com/scullyio/scully/issues/1347

[2021-06-28 05:09] RA80533 opened #510 "package-lock.json needs to be regenerated"
A few dependencies declared in package.json are missing entries in package-lock.json. npm attempts to amend this issue during `npm install` which results in a few unstaged changes to package-lock.json.

[2021-06-28 05:16] RA80533 opened #512 "TS2307: Cannot find module '@wessberg/ts-evaluator' or its corresponding type declarations."
~~Running `npm run build` results in the error being emitted during Webpack compilation. \@wessberg/ts-evaluator is used in guess-parser but is not declared as a dependency anywhere in the project.~~

~~While both guess-ga and guess-webpack are structured in a manner that takes advantage of Lerna's workspace functionality, guess-parser is simply an extension of the project defined at the root dire

[2021-07-06 22:55] #510 closed

[2021-08-20 15:11] mgechev opened #518 "Support for webpack 5"
Opening this issue to gauge the interest. Please vote with 👍 if you want to see webpack 5 support in Guess.js.

[2021-08-30 08:57] renovate[bot] opened #519 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] Update dependency supertest to v6.1.6
 - [ ] Update dependency http-server to v0.13.0
 - [ ] Update dependency @types/jest to v27
 - [ ]

[2021-09-02 06:08] todortotev commented on #518
Next.js beyond version 11 has mandatory webpack 5 so would love to see it for Guess.js

[2021-09-30 10:06] gobielJonathan opened #523 "error when implementation in Next.js"
this my routes.js
![image](https://user-images.githubusercontent.com/46088334/135435756-d379508c-5f3f-402a-83a4-e238ef2b0554.png)

this my next.config.js
![image](https://user-images.githubusercontent.com/46088334/135435680-ab41c299-cf3a-454d-af61-7f3838e52bba.png)

this error occured when the path hit
![image](https://user-images.githubusercontent.com/46088334/135435569-08ef6707-3d2f-49c7-af3e-5d

[2021-10-15 20:07] #523 closed

[2021-11-28 00:32] #512 closed

[2022-03-08 14:45] dimakuba commented on #323
any updates?

[2022-05-26 12:04] emadhajjar commented on #518
any update on this?

[2022-07-26 16:10] ElecTreeFrying opened #561 "guess.js not compatible if angular is in nx workspace"
Need help on how to use guess.js with angular in nx workspace.

**guess-parser/dist/guess-parser/index.js**
[code]

This line of code will always return false.
`exists(srcTsConfig) || exists(tsconfig)`

**NX workspace file structure**
[code]

[2022-08-13 05:06] turingSagar commented on #518
It's been a while since we left webpack@4 behind, most of the new projects are now being developed with webpack@5. I would love to see its support for webpack@5.

[2022-08-13 05:06] sainisagar310 commented on #518
It's been a while since we left `webpack@4` behind, most of the new projects are now being developed with `webpack@5`. I would love to see its support for `webpack@5`.

[2022-10-19 23:37] #320 closed

[2022-11-03 16:08] tstackhouse commented on #561
I'm doing a little bit of tinkering with this, and I happen to be in an Nx workspace. It seems to work if I pass my app's tsconfig:

[code]